@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&family=Yusei+Magic&display=swap');

:root {
    --main: #333;
    --content: #eee;
    --nav: #ddd;
    --nav-dark: #ccc;
    --green: #77dd77;
    --red: #ff6961;
    --cancel-display: none;
    --priority-color: var(--nav-dark);
    --priority-bg: var(--nav);
}

.overdue {
    --priority-color: #5B4B49 !important; 
    --priority-bg: #5B4B4966 !important; 
}

.priority-1 {
    --priority-color: #F4442E;
    --priority-bg: #F4442E66;
}

.priority-2 {
    --priority-color: #FC9E4F;
    --priority-bg: #FC9E4F66;
}

.priority-3 {
    --priority-color: #EDD382;
    --priority-bg: #EDD38266;
}

.priority-4 {
    --priority-color: #F2F3AE;
    --priority-bg: #F2F3AE66;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img {
    height: 25px;
}

button {
    cursor: pointer;
    border: 0px;
    color: #fff;
}

#header {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 42px;
    background-color: var(--main);
    padding: 20px 10px;
    font-weight: 600;
    font-family: 'Yusei Magic', sans-serif; 
    color: var(--content);
}

#header img {
    height: 60px;
}

.side-nav {
    padding: 20px;
    font-size: 16px;
    background-color: var(--nav);
}

.side-nav img {
    height: 30px;
}

.side-nav > div {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 2px;
    border-radius: 7px;
}

.side-nav .nav-item:hover {
    background-color: var(--nav-dark);
    cursor: pointer;
}

.nav-item {
    margin: 5px 0px;
}


.main-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 6fr;
    background-color: var(--content);
}

footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    background-color: var(--main);
    color: var(--content);
}

footer img, #header img {
    filter: invert(95%) sepia(0%) saturate(333%) hue-rotate(147deg) brightness(98%) contrast(85%);
}

div.project-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#add-project {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 5px;
    border-radius: 7px;
}

.project-container > .project-header {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-header > img {
    height: 20px;
}

.project-header {
    cursor: pointer;
}

.project-container > .project-header > span {
    font-size: larger;
    font-weight: 500;
}

#new-project input {
    width: 100%;
    height: 25px;
    border-radius: 7px;
    border: 1px solid var(--red);
    font-size: 16px;
    padding: 5px;
    margin: 5px 0 10px 0;
    outline-width: 0;
}

#new-project input:focus {
    border: 1px solid var(--green);
    outline-width: 0;
}

#new-project button {
    width: 100px;
    font-size: 16px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 7px;
}

#new-project {
    display: none; /* flex */
    flex-wrap: wrap;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

.red:hover, .green:hover {
    transform: scale(1.1); 
}

#projects{
    width: 100%;
}

.hide {
    display: none;
}

#projects > div {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
}

#projects > div:hover {
    background-color: var(--nav-dark);
    --cancel-display: block;
}

.cancel {
    margin-left: auto;
    margin-right: 5px;
    display: var(--cancel-display);
}

.cancel:hover {
    transform: scale(1.2); 
}

.content {
    padding: 50px 15vw;
}

.content > span {
    font-size: 30px;
}

#create-todos {
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    gap: 10px;
}

#create-todos:hover {
    background-color: var(--nav-dark);
    cursor: pointer;
}

.todo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 7px;
    background-color: aqua;
    padding: 17px;
    margin: 5px;
    border: 2px solid var(--content);
    background: linear-gradient( to left, var(--priority-color), var(--priority-color) 9px, var(--priority-bg) 9px, var(--priority-bg) 100% );
}

.todo:hover {
    border: 2px solid var(--priority-bg);
}

.todo > div {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.todo .title {
    font-size: 18px;
    font-weight: 500;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 3px;
}

.todo .edits {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.todo .edits > img:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

.due-date {
    margin-right: auto;
}

#new-todo, #new-todo-edit {
    border: 1px solid var(--main);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    display: none;
}

#new-todo input, #new-todo-edit input {
    outline: 0;
    border-width: 0 0;
    background-color: var(--content);
    font-size: 16px;
}

#new-todo select, #new-todo-edit select {
    background-color: var(--content);
    padding: 3px;
    border-radius: 7px;
}

#new-todo button, #new-todo-edit button {
    padding: 5px;
    margin: 0 2px;
    font-size: 16px;
    border-radius: 7px;
    width: 100px;
    align-self: center;
}

#new-todo .buttons, #new-todo-edit .buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

#new-todo input:first-child, #new-todo-edit input:first-child {
    font-size: 20px;
}

.todo .description {
    font-style: italic;
}

input[type=checkbox] {
    margin: 0px;
    width: 20px;
    height: 20px;
    clip-path: circle(42% at 50% 50%);
    accent-color: var(--priority-color);
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}

.done {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    font-size: 26px;
}